@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --body-margin-left: max(24px, env(safe-area-inset-left));
  --body-margin-right: max(24px, env(safe-area-inset-right));
  --code-bg: #232323;
  --code-font-size: 13px;
  --code-font-color: #e5e5e5;
  --code-radius: 8px;
  --content-width: 640px;
  --footer-height: 48px;
  --gap-2x: 16px;
  --header-height: 48px;
  --mask-hidden: transparent;
  --mask-visible: #000;
  --page-top: 128px;
  --page-width: 1072px;
  --scroll-bar: #1a1a1a;
  --scroll-bar-max: #3e3e3e;
  --scroll-bar-min: #707070;
  --transparent: transparent;
}

@font-face {
  font-family: Inter;
  src: url('../public/fonts/Inter.woff2');
}

/* Custom Scrollbar */
html::-webkit-scrollbar {
  width: 6px;
}

html::-webkit-scrollbar-track {
  background-color: var(--scroll-bar);
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
}

html::-webkit-scrollbar-thumb {
  background-color: var(--scroll-bar-max);
  border-radius: 4px;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: var(--scroll-bar-min);
}

/* Firefox */
html {
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-bar-max) var(--scroll-bar); /* scroll thumb and track */
}

body,
html {
  height: 100%;
  font-family: Inter, sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  touch-action: manipulation;
}

body {
  @apply bg-dark-gray;
  @apply text-fg;
  margin: 0;
  overflow-x: hidden;
  overflow-y: scroll;
}

main {
  min-height: calc(100vh - var(--footer-height));
  padding: var(--page-top) 0;
  max-width: var(--page-width);
}

nav {
  top: var(--page-top);
}

/* Base styles for 'pre' */
pre {
  display: block;
  margin: 1.85rem 0;
  padding: 12px 16px;
  overflow-x: auto; /* Allows horizontal scrolling if the code is too long */
  background-color: var(--code-bg);
  border-radius: var(--code-radius);
  font-family: 'Courier New', Courier, monospace;
  font-size: var(--code-font-size);
  line-height: 24px;
  white-space: pre; /* Preserves whitespace and line breaks */
  tab-size: 4;
}

/* Styles for 'code' block inside 'pre' */
pre code {
  font-family: inherit; /* Inherits the font from the parent 'pre' element */
  color: var(
    --code-font-color
  ); /* Dark text color for contrast against light background */
  background-color: transparent; /* No background color, since it's inherited from 'pre' */
  border: none; /* No border, since it's inherited from 'pre' */
  padding: 0; /* No padding, since it's already applied to the 'pre' */
  white-space: inherit; /* Inherits the whitespace setting from the parent 'pre' element */
}

/* Inline code styles */
code {
  font-family: 'Courier New', Courier, monospace;
  font-size: 14px;
  background-color: #e8e8e8;
  border: 1px solid #ddd;
  color: #333;
  padding: 2px 6px;
  border-radius: 4px;
}

#__next {
  min-height: 100%;
  padding-left: var(--body-margin-left);
  padding-right: var(--body-margin-right);
  padding-bottom: env(safe-area-inset-bottom);
}

.blur:first-child {
  margin-bottom: calc(-1 * var(--h));
  top: 0;
  --direction: to bottom;
}

.blur {
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  pointer-events: none;
  --h: min(96px, var(--page-top));
  position: sticky;
  width: calc(100% + var(--body-margin-left) + var(--body-margin-right));
  margin-left: calc(-1 * var(--body-margin-left));
  height: var(--h);
  z-index: 1;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  opacity: 0.95;
  -webkit-mask-image: linear-gradient(
    var(--direction),
    var(--mask-visible) 25%,
    var(--mask-hidden)
  );
  mask-image: linear-gradient(
    var(--direction),
    var(--mask-visible) 25%,
    var(--mask-hidden)
  );
}

.blur::after {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(var(--direction), var(--bg), var(--transparent));
}

.main-grid {
  display: grid;
  grid-template-columns: 192px var(--content-width) 192px;
  grid-column-gap: 24px;
  -moz-column-gap: 24px;
  column-gap: 24px;
  align-items: flex-start;
}

@media (max-width: 640px) {
  main {
    padding: 24px 0;
  }

  .main-grid {
    grid-template-columns: 1fr;
  }

  .blur {
    --h: min(12px, var(--page-top));
    height: var(--h);
  }
}

.markdown h1 h2 h3 h4 h5 h6 {
  margin-bottom: 2rem;
}

.markdown p {
  color: #bab6b1;
  margin-bottom: 1rem;
}

.markdown ul {
  margin-bottom: 1rem;
}
